*{
    padding:0px;
    margin: 0px;
}
body{
    background-color: rgb(105, 103, 103);
    height: 700px;
}

form{
    background-color: rgb(243, 245, 247);
    border-width: 2px;
    border-style: groove;
    border-color: rgba(248, 248, 248, 0.986);
    height: 720px;
    width: 1000px;
    margin-left: 220px;            
}
.photo{

    height: 150px;
    width: 150px;
    margin: 10px;
}
img{
    height: 150px;
    width: 150px;
}
.personal{
    height:100px;
    width: 200px;
}
.skills{
    
    width: 200px;
    height: 160px;
    margin-left: 50px;

}
.objective{
    padding: 0px;
  
    height: 140px;
    width: 200px;
}
.projects{
    margin-bottom: 80px;
    height: 520px;
    width: 560px;
  
    margin-left: 50px;
}
.education{ 
 height: 280px;
 width: 250px;

}